################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ILAManagementPro.Web/bin
/ILAManagementPro.Web/obj/Debug
/packages
